{% extends 'shared/site.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/photo_create.css' %}">
{% endblock %}

{% block site_title %}Photo Club{% endblock %}

{% block site_content %}

    <h1 class="text-center">Add new photo</h1>
    <div class="row">
        <form method="post" action="{% url 'create photo' %}" class="edit-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary mt-2" type="submit">Create</button>
        </form>
        <br>
    </div>

{% endblock %}
